<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ChonOrderActivity"></activity>
        <activity android:name=".StatisticalActivity" />
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".LoadTableActivity" />
        <activity android:name=".CheckoutBagActivity" />
        <activity android:name=".StatisticActivity" />
        <activity android:name=".AddProductActivity" />
        <activity android:name=".UpdateProActivity" />
        <activity android:name=".UpdateTKActivity" />
        <activity android:name=".AddStaffActivity" />
        <activity android:name=".staffActivity" />
        <activity android:name=".OrderDetailActivity" />
        <activity android:name=".chondouongActivity" />
        <activity android:name=".OrderListActivity" />
        <activity android:name=".HomeActivity" android:noHistory="true"/>


        <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>